@font-face {
	font-display: fallback;
}
// @charset "utf-8";

$font_path:   '../';
@import "../config/fonts";

@import "material_icons";

@import "rst/normalize";


$primary-color: #35559f;
$primary-color-light: #9ba9ce;
$primary-color-dark: #25438a;

$secondary-color: #4D5354;// #2A3132;
$success-color: #6AB187;
$error-color: #f48468;
$link-color: #004890;
// @import "materialize";

// @import "selectize";
// @import "datetime_picker";

@import "lib/clearfix";
@import "lib/data-label";
@import "lib/variables";

@import "bse/forms";
@import "bse/layout";
@import "bse/lists";
@import "bse/tables";
@import "bse/typography";

@import "comp/app-container";
@import "comp/attributes";
@import "comp/buttons";
@import "comp/cells";
@import "comp/field-unit";
@import "comp/flashes";
@import "comp/form-actions";
@import "comp/main-content";
@import "comp/navigation";
@import "comp/pagination";
@import "comp/search";
@import "comp/fab-button";

@import "util/text-color";

@import "rst/overrides";

@import "config/fonts";

@import "../config/variables";
@import "../utility/mixin-base";
@import "../utility/mixin-layout";
@import "../utility/functions";
@import "../components/buttons";
